@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<h2>hizmetler</h2>

@await Component.InvokeAsync("_ServiceComponentPartial")

@await Component.InvokeAsync("_BecomeADriverComponentPartial")


